@import "tailwindcss";

:root {
--background: #ffffff;
--foreground: #171717;
}

@theme {
    --color-title-blue: #4880EE;
    --text-part-title: var(--text-5xl);
    --text-part-title--line-height: calc(1/0.75);
    --background-team: #1f2023;
    --background-icons: #1f2023;
    --background-icons-hover: #70768a;
    --background--gray: #F9FAFB;
    --background-white: #FFFFFF;

}

@media (prefers-color-scheme: dark) {
:root {
--background: #0a0a0a;
--foreground: #ededed;
}
}

body {
background: var(--background);
color: var(--foreground);
font-family: var(--font-sans);
}
